@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

.app {
	box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

.sheet {	
	overflow: auto;
	white-space: nowrap;
}
.sheet-col {
	display: inline-block;
}
.sheet-col-indicator {	
	width: 60px;
	height: 30px;
	font-weight: 900;
	text-align: center;		
}
.sheet-row-indicator {
	font-weight: 900;
	text-align: center;

}
.sheet-footer {
	display: flex;
	justify-content: space-evenly;
	position: fixed;
	bottom: 0;
	height: 50px;
    background-color: rgb(255, 240, 240);
	width: 100%;
	color: black;
}

.cell {
	border: 0.4px solid #cecece;
	width: 80px;	
	height: 40px;
	cursor: pointer;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	/* margin-left: 10px; */
	text-overflow: clip;
	overflow-x: scroll;
	caret-color: green;		
}

.cell:hover {
	background-color: #dad5d5;
}
.cell-is-selected {
	border: 0.8px solid rgb(0, 97, 0);
    box-shadow: 2px 4px 8px #dedede;
}
.cell-is-editable {		
	border: 1px dotted green !important;
    box-shadow: 2px 8px 10px #efefef;
}
.cell-is-formula {
    border: 1px double blue !important;
}
.indicator-is-selected {
    border: 1px solid green;
    background-color: #daffda;
}
